<%- include ./partials/header.ejs %>


 <div class="container">
  <header class="jumbotron"><h1>CREATE AND VIEW FROM SHOWROOM</h1></header>
	
	<h2>Here we can create, read, update and delete cars</h2>
	<a href="/cars"><button>Show all cars</button></a>
 </div>
<%- include ./partials/footer.ejs %>
