<!DOCTYPE html>
<html>
<head>
	<title>cars</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>WELCOME TO MY CARS SHOWROOM</h1>

 <% for (var i = 0; i < Cars.length; i++) { %>
	<p class="cars"><%= Cars[i].name; %>
	
	</p>
<% } %>


       <p><a href="/create"><button class="create">Create a car</button></a></p>


</body>
</htmls