<!DOCTYPE html>
<html>
<head>
	<title>trying</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
 <div class="container">
  <header class="jumbotron"><h1>Trying things</h1></header>
  

  <img src="https://images.pexels.com/photos/116675/pexels-photo-116675.jpeg?h=350&auto=compress&cs=tinysrgb">

   <a href="/campgrounds/new">Create Capms</a>
   <a href="/campgrounds">View Capms</a>
   </div>
</body>
</html>