<!DOCTYPE html>
<html>
<head>
	<title>trying</title>
</head>
<body>
  <h1>CREATE NEW CAMP.COM </h1>
  
  <form action="/campgrounds" method="POST">

      <input type="text" name="name" placeholder="Name">
      <input type="text" name="image" placeholder="Image">
      <input type="submit" name="">
  	
  </form>
  <a href="/campgrounds">Back Home</a>
  
</body>
</html>