<!DOCTYPE html>
<html>
<head>
	<title>cars</title>
</head>
<body>
<h1>WELCOME TO MY CARS SHOWROOM</h1>

 <% for (var i = 0; i < Cars.length; i++) { %>
	<p><%= Cars[i].name; %>
	<a href="/cars/<%= Cars[i].id %>"><button>READ</button></a>
	</p>
<% } %>




</body>
</html>
