<!DOCTYPE html>
<html>
<head>	
	<title>cars</title>
</head>
<body>
  <h1>VIEW THIS CAR IN SHOWROOM</h1>
  <P><%= car.name %></P>
  <p><%= car.age %></p>
  <p><%= car.country %></p>
  <P><%= car.id %></P>
<a href="/"><button>Back to Cars</button></a>
</body>
</html>
