<!DOCTYPE html>
<html>
<head>
	<title>teams</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<h1>TEAMS SCOREBOARD</h1>

<a href="/scoreBoard"><button>Add Teams</button></a>

<% database.forEach(team => { %>
<ul>
		<li> <p><%= team.team1 %></p> </li>      
	        <p><%= team.team1score %></p>        
	       <li> <p><%= team.team2 %></p> </li>       
	        <p><%= team.team2score %></p>
	  
	</ul>
<% }) %>


</body>
</html>