<!DOCTYPE html>
<html>
<head>
	<title>cars</title>
</head>
<body>
<h1>CREATE YOUR CHOICE OF CAR FOR SHOWROOM</h1>
<form action="/create" method="POST">
   <input type="text" name="name" placeholder="Car name"> 
   <input type="text" name="age" placeholder="Age"> 
   <input type="text" name="country" placeholder="Country"> 
   <input type="submit" name="">
</form>
</body>
</html>

